In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
# registros de converters para uso do matplotlib
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [2]:
# Carregamento da base de dados
base = pd.read_csv('../data/AirPassengers.csv')
base.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [3]:
# Visualização dos tipos de dados dos atributos
print(base.dtypes)

Month          object
#Passengers     int64
dtype: object

In [ ]:
# Conversão dos atributos que estão no formato string para o formato de data: ANO-MÊS
dataparse = lambda dates: datetime.strptime(dates, '%Y-%m')
base = pd.read_csv('../data/AirPassengers.csv', parse_dates = ['Month'],
                   index_col= 'Month', date_parser = dataparse)
base

C:\Users\rodri\AppData\Local\Temp\ipykernel_19172\1162896511.py:3: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  base = pd.read_csv('../data/AirPassengers.csv', parse_dates = ['Month'],

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121
...                 ...
1960-08-01          606
1960-09-01          508
1960-10-01          461
1960-11-01          390
1960-12-01          432

[144 rows x 1 columns]